

<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
      
          
          <div class="{{displayC}}">
              <div class="demo-tab-content"> 
                <div class="divMat">    
                    <div fxLayout="row">
                                <mat-card-content style="width: 100%;">
                                  
                                  
                                        <div *ngIf="!friendsx || friendsx.length === 0 || friendsx== undefined ">
                                            <p style="text-align: center">No Tienes contactos Agregados</p>
                                        </div>
                                        <div *ngIf="friendsx?.length > 0">
                                            <mat-list>
                                                <mat-list-item *ngFor="let friends of friendsx " (click)="SelectChat(friends.idfriend,friends.name,friends.state,friends.foto,myId)" >
                                                      <img mat-list-avatar src="assets/images/{{friends.foto}}" alt="Image of {{friends.name}}">    
                                                      <h3 matLine>{{friends.name}}</h3>
                                                      <p matLine class="text-muted">{{friends.state}}</p>  
                                                      <mat-divider></mat-divider>

                                              </mat-list-item>
                                            </mat-list>   
                                        </div>
                                </mat-card-content>        
                                
                    </div> 
                  </div>
              </div>
            <button mat-mini-fab (click)="openDialog()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
            </div>
            <div class="{{displayN}}">
                <mat-card style="height: calc(100vh - 142px);background-image: url('assets/images/fondochat.jpg');background-size:100%">
                    <mat-card-header>
                        <mat-icon (click)="friends()" aria-label="Example icon-button with a heart icon" style="float: left;margin-top: 12px;position: absolute;">keyboard_backspace</mat-icon>
                        <img mat-card-avatar src="assets/images/{{fotoChat}}">   
                        <mat-card-title>{{nameChat}}</mat-card-title>
                        <mat-card-subtitle>{{stateChat}}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content style="width: 100%;">
                          <div *ngFor="let message of messages" >
                               <div [ngStyle]="{'position': 'relative','width': '100%','top':'5px' }"  ><span [ngStyle]="{'margin-top':'10px','width':'100%','background': message.fondo,'padding': '5px','border-radius': '8px','float':message.float}">{{message.text}}</span></div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <textarea matInput [(ngModel)]="msm" style="width: 88%;height: 86%;  border: none;border-radius: 32px;padding: 9px; margin-left: 5px;margin-bottom:5px;resize: none;"></textarea>
                            <button mat-mini-fab style="float:right;right: 19px;background: #26c6da">
                                <mat-icon aria-label="Example icon-button with a heart icon" (click)="sendMessage(idfriend,myId)">send</mat-icon>
                              </button>
                        </mat-card-actions>
                </mat-card>
            </div>

  </div>
</div>