.no-shadow mat-toolbar{
    box-shadow: none;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-card{
  margin:0;
}
.page-content {
padding: 0 !important;
}
.mat-list{
  padding: 20px;
}

.divMat{
  margin-top: 55px;
  margin-left:110px;
  margin-right:110px;
  margin-bottom: 5px;
  background:#fff; 
  border-radius: 4px;
  padding: 5px;
}

.mat-mini-fab{
    float: right;
    right: 10px;
    bottom: 10px;
    position: absolute;
    background: #1e88e5;
}

.DISPLAY{
    display:block;
}

.NONE{
    display:none;
}
.mat-card-header{
  background: #0f60a7;
  color:#fff;
}
.mat-card-subtitle{
  color:#fff;
  margin-top: -7px !important;
  margin-left: 4px;
  font-size: 12px;
}
.mat-card-avatar{
  width: 50px !important;
  height: 50px !important;
  border :1px solid #578fc1;
  margin-left: 43px;
}
.mat-card-actions{
  bottom: 0px;
  position: absolute;
  background: transparent;
  width: 100%;
  height: 60px;
}
.class1{
  float: right;
  background: #fff;
  right: 10px;
}

div .class2{
  float: left;
  background: #f6f6f6;
  left: 10px;
}