<h1 mat-dialog-title>Agregar un Amigo</h1>
<div mat-dialog-content>
  <p>Escribe el nombre del usuario</p>
  <span style="color:red;font-size:12px ">{{errorSaved}}</span>
  <mat-form-field>
    <input matInput [(ngModel)]="data.username">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button color="primary" (click)="ClickOk(data.username)" cdkFocusInitial>Ok</button>
</div>

