.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-card-title{
  text-align: center
}
.example-card{
  margin: 0 auto;
  text-align: center;
}
.mat-raised-button{
  bottom: 5px;
  text-align: center;
  margin: 0 auto; 
}