<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container"> 
   
  <!-- ============================================================== -->
  <!-- End Topbar - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
      <!-- ============================================================== -->
      <!-- Sidebar - style you can find in sidebar.scss -->
      <!-- ============================================================== -->
     
      <!-- ============================================================== -->
      <!-- Sidebar - style you can find in sidebar.scss -->
      <!-- ============================================================== -->
      
      <!-- ============================================================== -->
      <!-- Page container - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <mat-sidenav-content class="page-wrapper">
                <!-- ============================================================== -->
 
              <div class="page-content">
                 
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title>Validación</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <form class="example-form">
                    
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Usuario" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                         
                    </form>
                    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button (click)="login()" color="primary">Ingresar</button>
                  </mat-card-actions>
                </mat-card>
              </div>    
             
      </mat-sidenav-content>
      <!-- ============================================================== -->
      <!-- Page container - style you can find in pages.scss -->
      <!-- ============================================================== -->
  </mat-sidenav-container>
</div>