

<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
      
          
          <mat-tab-group mat-stretch-tabs class="demo-tab-group" color="pink" backgroundColor="primary" style="margin: -15px"> 
            <mat-tab label="LATEST">
              <div class="demo-tab-content"> 
                <div class="divMat">    
                    <div fxLayout="row">
                                <mat-card-content style="width: 100%;">
                                    <div *ngIf="!messagesx || messagesx.length === 0 || messagesx== undefined ">
                                        <p style="text-align: center">No Tienes Mensajes</p>
                                    </div>
                                    <div *ngIf="messagesx?.length > 0">
                                      <mat-list>
                                        <mat-list-item *ngFor="let message of messagesx" >
                                          <img mat-list-avatar [src]="message.image" alt="Image of {{message.from}}">    
                                          <h3 matLine>{{message.from}}</h3>
                                          <p matLine class="text-muted">{{message.content}}</p>  
                                          <span style="float: right;right: 0;" matBadge="22" matBadgePosition="above after"></span>   
                                        </mat-list-item>
                                      </mat-list>    
                                    </div>
                                </mat-card-content>        
                            
                    </div> 
                  </div>
              </div>
            </mat-tab>
            <mat-tab label="FAVORITES">
                <div class="demo-tab-content"> 
                    <div class="divMat">    
                        <div fxLayout="row">
                                    <mat-card-content style="width: 100%;" >
                                            <p style="text-align: center">No Tienes Mensajes Favoritos</p>
                                    </mat-card-content>        
                        </div> 
                      </div>
                  </div>
            </mat-tab>
            
          </mat-tab-group>
          <div *ngFor="let message of messages">
            {{message}}
          </div>
          
          <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
          <button (click)="sendMessage()">Send</button>
  </div>
</div>