.no-shadow mat-toolbar{
    box-shadow: none;
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-card{
  margin:0;
}
.page-content {
padding: 0 !important;
}
.mat-list{
  padding: 20px;
}

.divMat{
  margin-top: 55px;
  margin-left:110px;
  margin-right:110px;
  margin-bottom: 5px;
  background:#fff; 
  border-radius: 4px;
  padding: 5px;
}