.mat-toolbar.mat-primary {
    height: 120px;
    box-shadow: none;
}
.topbar{
    z-index: 0;
}
.mat-drawer{
    position: fixed;
    width:320px;
}
html .page-wrapper {
    height: calc(100vh - 1px) !important;
}